@charset "utf-8";
/* CSS Document */
.seek{
	background:#dfdfdf;
	width:260px;
	height:35px;
	font-size:14px;
	color:#444;
  	border:0;
    border-radius:15px;
    box-shadow:0 2px 0 rgba(182, 0, 0, 0.9), 0 1px 1px rgba(77, 77, 77, 0.7) inset;
    transition:all 0.7s ease 0s;
	margin:45px 0 0 20px;
	float:right;
	padding-left:12px;
}
.seekTxt{
	width:220px;
	height:30px;
	background:#dfdfdf;
	border:none;
	margin-top:2px;
	float:left;
	line-height:30px;
}
.seekBtn{
	background:url(/Public/Img/sBtn.jpg) no-repeat center;
	width:30px;
	height:30px;
	border:none;
	cursor:pointer;
	margin:2px 0 0 3px;
}
.box{
	min-height:450px;
}
.box h1{
	font-size:24px;
	color:#c60;
	margin:30px 0 20px 0;
}
.boxL{
	width:540px;
	float:left;
	margin-right:50px;
}
.boxR{
	float:left;
	margin-left:50px;
}
.boxL ul li{
	font-size:14px;
	margin-top:12px;
	line-height:28px;
}
.contact li{
	margin-top:20px;
	line-height:28px;
	font-size:14px;
	padding-left:45px;
	height:45px;
}
.contact li h2{
	font-size:16px;
}
.address{
	background:url(/Public/Img/setSign.png) no-repeat left top;
}
.email{
	background:url(/Public/Img/setSign.png) no-repeat left 35%;
}
.phone{
	background:url(/Public/Img/setSign.png) no-repeat left 66%;
}
.fax{
	background:url(/Public/Img/setSign.png) no-repeat left 92%;
}
.search{
	background:#efefef;
	width:600px;
	height:36px;
	color:#444;
  	border:4px solid #d0d0d0;
    border-radius:3px;
	margin:0 auto;
	margin-top:30px;
}
.sBar{
	width:489px;
	background:#efefef;
	border:none;
	padding-left:10px;
	float:left;
	height:34px;
	color:#505050;
	font-size:14px;
	border:1px solid #b7b7b7;
	border-right:none;
}
.sBtn{
	background:#258;
	border:1px solid #003161;
	width:100px;
	height:36px;
	float:left;
	color:#fff;
	cursor:pointer;
}
.split{
	width:760px;
	height:1px;
	background:#b7b7b7;
	border-bottom:1px solid #fff;
	margin-top:30px;
}
.map{
	margin:50px 0;
}